html,
body /*body*/
{
background-image: url("image/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
 background-size: 100% 100%;	


	
}
.nonetxt{
	display: none;
}


.Main 
{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2.5%;


	transform: translate(-50%,-50%);
	align-content: center;
	height: 500px;
	width: 500px;
	border: 2px solid #282828;
	border-radius:20px 100px ;
	box-shadow: 1px 1px 3px black;

	
}


.Name
{
	position: absolute;
	height:75px ;
	width: 450px;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	outline: none;
	background:transparent;
	border: 1px solid #0a0a0a;
	text-align: center;
	box-shadow: 1px 1px 3px black;
	font-size: 30px;
}


 .Proceed:hover
 {

	 background: rgba(0, 0, 0, 0.2);
	 width: 190px ;
	 box-shadow: 1px 1px 6px black;

 }

 .Proceed:active
 {

	 background: rgba(0, 0, 0, 0.6);
	 width: 180px;
	 height: 50px;
	 font-size: 12px;
	 box-shadow: 1px 1px 9px black;

 }

.Proceed{

	position: absolute;
	height: 60px;
	width: 200px;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: transparent;
	outline: none;
	border: 1px solid #0a0a0a ;
	border-radius: 30px	;
	transition: width 0.2s , height 0.2s , font-size 0.2s;
	 box-shadow: 1px 1px 3px black;
}

.OutputBack{
	position: absolute;
	height:400px ;
	width: 400px;	
		top: 50%;
		left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	border-radius: 40px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column-reverse;
}


.Output{
	font-size: 20px;
	position: relative;
	
  
	text-align: center;
	 font-family: 'Bebas Neue';

	


}




/*<!---------------------------------------------Animation after proceed-------------------------------------------------------------->*/

.HideName{
	position: absolute;
	height:75px ;
	width: 450px;
	top: -100%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	outline: none;
	background:transparent;
	border: 1px solid #0a0a0a;
	text-align: center;
	box-shadow: 1px 1px 3px black;
	animation: gototopname 1s;


}

@keyframes gototopname {
	0%{
		top: 40%;
	}
	50%{
		top: 45%;
	}
	100%{
		top: -100%;
	}
}

.HideProceed
{
	position: absolute;
	
	top: -100%;
	transform: translate(-50%,-50%);
	background: transparent;
	outline: none;
	border: 1px solid #0a0a0a ;
	border-radius: 30px	;
	background: rgba(0, 0, 0, 0.6);
	width: 180px;
	height: 50px;
	font-size: 12px;
	box-shadow: 1px 1px 9px black;
	animation: gototopproceed 1s;
}
@keyframes gototopproceed
{
	0%{
		top: 65%;
		left: 50%;
	
	}
	50%{
		top: 70%;
		left: 50%;
	
	}
	100%{
	top: -100%;
	left: 50%;
	}
}


.HideMain
{
position: absolute;
	top: 50%;
	left: 50%;
	padding: 2.5%;
	overflow: hidden;
	transform: translate(-50%,-50%);
	align-content: center;
	height: 500px;
	width: 500px;
	border: 2px solid #282828;
	border-radius:20px 100px ;
	box-shadow: 1px 1px 3px black;
	opacity: 0;
	animation: fadeoutmain 1s;
}

@keyframes fadeoutmain{
	0%{
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0.0;
	}

}

.Loader {
	position: fixed;
	top: 50%;
	left: 60%;

  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Loadertxt{
	position: fixed;
	padding: 10px;
	top: 68%;
	left: 40%;
	transform: translate(-50%,-50%);
	font-size: 30px;

	font-family: 'Bebas Neue';
}

.Super{ 
	position: absolute; 
	background: transparent;


	padding: 20px;
	top: 87%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100px;
	width: 400px;
}
.displaynone{
	display: none;
}



